// Import all common scss's
@import 'shared/reset.scss';
@import 'shared/fonts.scss';
@import 'shared/functions.scss';
@import 'shared/medias.scss';
@import 'shared/animate.scss';

// Import Areas
@import 'areas/header.scss';
@import 'areas/about.scss';
@import 'areas/jobs.scss';
@import 'areas/contact.scss';
@import 'areas/footer.scss';

/*********************** ALL ***********************/
section {
    
    article {
        max-width: 875px;
        margin: 0 auto;
        @include prefix(transition, opacity 1s ease);
        
        h2 {
            text-align: center;
            font-size: 3.6em;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
    }
}

/*********************** LOAD ***********************/
#load {
    width: 100%;
    height: 100%;
    font-size: 4em;
    color: white;
    background-color: #222b34;
    position: absolute;
    z-index: 10;
    
    div {
        position: absolute;
        text-align: center;
        padding: 10px 22px;
        left: 50%;
        margin-left: -75px;

        &#load-top {
            z-index: 1;
            background-color: #222b34;
            box-shadow: 10px 12px 0px #4e79a5;
            @include prefix(transform, skewX(-20deg));
            p {
                @include prefix(transform, skewX(20deg));
            }
        }
        &#load-bottom {
            background-color: #222b34;
            box-shadow: 10px -10px 0px #4e79a5;
            @include prefix(transform, skewX(-20deg));
        }
    }
}

/*********************** LIGHTBOX ***********************/
#lightbox {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    color: white;
    position: absolute;
    z-index: 20;
    font-size: 4em;
    
    p {
        position: absolute;
        top: 50%;
        margin-top: -25px;
        left: 50%;
        margin-left: -180px;
    }
}
