#about {
    #about-content {
        margin-bottom: 60px;
        width: 100%;
        
        #about-text {
            font-size: 2em;
            line-height: 1.4em;
        }
        #about-side {
            #photo {
                background-position: 0 -248px;
                width: 189px;
                height: 219px;
            }
            .button {
                /*background-position: 20px -66px;*/
                /*padding: 10px 20px 10px 44px;*/
                padding: 10px 20px;
            }
        }
    }
    hr {
        width: 30%;
        margin-left: 35%;
        border-top: 1px solid #4E79A5;
    }

    #skills {
        width: 100%;
        margin-top: 60px;
        
        h3 {
            font-size: 2.2em;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 20px;
        }
        .content-skills {
            width: 30%;
            margin-right: 5%;
            &:nth-of-type(3n) {
                margin-right: 0;
            }

            .bar-skills {
                border: 1px solid #222b34;
                width: 60%;
                float: left;
                height: 19px;
                margin: 2px 0 11px;
                &::before {
                    content: attr(data-skill);
                    width: 30%;
                    font-size: 1.5em;
                    float: left;
                    line-height: 1.4em;
                }
                
                div {
                    background-color: #4e79a5;
                    height: 100%;
                    width: 0;
                    @include prefix(transition, all 1.5s .5s ease);
                    &:hover {
                        background-color: #222b34;
                    }
                }
            }
        }
    }
}
