/*********************** FONT FACE ***********************/
@font-face {
    font-family: "corbel";
    src: url("../font/corbel.eot?") format("eot"),
    url("../font/corbel.woff") format("woff"),
    url("../font/corbel.ttf") format("truetype"),
    url("../font/corbel.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "corbel-bold";
    src: url("../font/corbel-bold.eot?") format("eot"),
    url("../font/corbel-bold.woff") format("woff"),
    url("../font/corbel-bold.ttf") format("truetype"),
    url("../font/corbel-bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}